node_modules/
dist/
build/
genAudio/
genImage/
.env
.env.local
.env.*.local
coverage/
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.idea/
/.parcel-cache
/.next
.turbo
/public/uploads